.login-wrapper {
    /* background-image: url(../images/login-bg.png); */
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
}

.login-wrapper>.row {
    margin: 0;
}

.login-form-box {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    margin-top: 10px
}

.login-form-box .form-group {
    text-align: left;
}

.login-form-box label {
    font-size: 1.1em;
    font-weight: 500;
    color: #74788D;
}

.login-form-box .form-control {
    font-size: 1em;
}

.login-form-box .checkbox {
    text-align: left;
    padding: 15px 0 0;
}

.login-form-box .checkbox a {
    color: #70300D;
}

.copy-right {
    font-size: 1.1em;
}

.sidebar-left .navbar-brand img {
    max-width: 40%;
}

nav.vertnav {
    padding: 0px;
    z-index: 2;
}

.sidebar-left {
    background: #70300D;
}

.sidebar-logo {
    background: #F8F8FB;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.sidebar-left .navbar-brand img {
    max-width: 40%;
}

.sidebar-left .navbar-nav .nav-item {
    margin: 0 0 10px 0;
}

.sidebar-left .navbar-nav .nav-link {
    font-size: 1.1em;
    padding: 10px 30px 10px 46px;
    position: relative;
    min-height: 43px;
}

.sidebar-left .navbar-nav .nav-link i {
    position: absolute;
    top: 13px;
    left: 24px;
}

.disable-button {
    pointer-events: none;
    opacity: 0.0;
    cursor: not-allowed;
}

.navbar-light .navbar-toggler {
    color: #555B6D;
}

.searchform .form-control {
    background: #F3F3F9;
    border-radius: 25px;
    padding: 0 20px 0 35px;
}

.searchform:before {
    left: 12px;
}

nav.topnav {
    background: #fff;
    padding: 12px 0;
}

.top-nav-right a {
    color: #555;
    font-size: 1.4em;
    padding: 0 10px;
}

.top-nav-right .dropdown-menu a {
    font-size: 1em;
    padding: 5px 10px;
}

span.avatar {
    font-size: .8em;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.page-title {
    color: #70300D;
}

.db-cards .card {
    border: none;
    box-shadow: 0px 10px 20px #12263f08;
}

.db-cards h4 {
    color: #01529c
}

.db-cards .card-body {
    padding: 30px 20px;
}

.card-title {
    color: #70300D;
}

.db-cards .card-header {
    border: none;
}

.timeline .timeline-item:before {
    background-image: url(../images/bx-right-arrow-circle.svg);
    height: 18px;
    width: 18px;
    left: 7px;
    background-color: #fff !important;
}

.simplebar-content a {
    color: #556EE6;
}

.days-sec {
    margin: 0 0 15px;
}

.table thead th {
    color: #000000;
    font-weight: 700;
}

.db-table thead {
    background: #F8F9FA;
}

.link {
    color: #01529c;
    font-weight: 600;
}

span.paid {
    color: #34C38F;
    background: #34C38F2E;
    padding: 2px 10px;
    border-radius: 25px;
    font-size: .9em;
}

.db-table td {
    border-bottom: 1px solid #efefef;
}

.table th,
.table td {
    padding: 18px 10px;
}

.table td {
    color: #495057;
}

.table td .bttn {
    background: #70300D;
    color: #fff;
    border-radius: 5px;
    font-size: .9em;
    padding: 8px 10px;
    border-radius: 25px;
}

.inner-copy-right {
    padding-top: 15px;
}

.inner-copy-right p {
    font-size: 1.1em;
}

.table tr td a+a {
    margin-left: 12px;
}

.datatables tr th:before,
.datatables tr th:after {
    display: none !important;
}

.add-sec {
    text-align: right;
    align-items: center;
}

.add-sec .bttn {
    border: none;
    background: #70300D;
    color: #fff;
    border-radius: 25px;
    padding: 6px 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.db-calendar {
    padding-bottom: 30px;
}

.heading-add {
    align-items: center;
    padding-bottom: 10px;
}

.db-calendar h2.page-title {
    color: #70300D;
}

/* background highlate */

.highlighted {
    background-color: yellow;
}

.resp-table {
    overflow-x: auto;
    max-height: 736px;
}

.resp-table .table {
    width: 2080px;
}

.users-tb .table {
    width: 2880px !important;
}

.vouchers-tb .table {
    width: 2880px !important;
}

.merchants-tb .table {
    width: 2880px !important;
}

.transaction-tb .table {
    width: 1560px;
}

.resp-table .table {
    width: 1560px;
}

.purchases-tb .table {
    width: 1470px;
}

.business-categories-tb .table {
    width: 1270px;
}

.categories-tb .table {
    width: 1270px;
}

.industries-tb .table {
    width: 1080px;
}

.events-tb .table {
    width: 1880px;
}

.services-tb .table {
    width: 1680px;
}

.countries-tb .table {
    width: 1180px;
}

.states-tb .table {
    width: 1180px;
}

.cities-tb .table {
    width: 1080px;
}


.modal-body form .form-control {
    font-size: .9rem;
}

.modal-body form label {
    font-weight: 600;
}

.actions img, .actions i.icon {
    max-width: 16px;
    margin-left: 4px;
    color: #0000FF;
    text-decoration: none;
}

textarea {
    resize: none;
}

.table tr td.para p {
    max-width: 500px;
    margin: 0;
}

/* .merchants-tb tr th:nth-child(3),
.merchants-tb tr td:nth-child(3) {
    width: 10px;
} */

p.date-field {
    display: inline;
    margin: 0;
}

p.date-field input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.resp-table.db-tb .table {
    width: 100%;
}

.or {
    font-weight: 600;
    margin: 0 0 15px;
}

.social-log a {
    margin: 0 10px;
}

span.badge {
    line-height: 15px;
}

.pagin-sec {
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
}

.pagin-sec .pagination {
    justify-content: flex-end;
}

.chart-container {
    width: 100%;
    height: 10px;
    margin: 10px auto;
}

@media(max-width: 1199px) {
    .modal .modal-dialog {
        max-width: 90%;
    }

    .resp-table.db-tb .table {
        width: 870px;
    }
}

@media(max-width: 991px) {

    .sidebar-left.collapsed {
        width: 40%;
    }

    .resp-table .table,
    .edu-tb .table {
        width: 1100px;
    }

    .users-tb .table {
        width: 1270px;
    }

    .vouchers-tb .table {
        width: 1330px;
    }

    .merchants-tb .table {
        width: 1830px;
    }

    .services-tb .table {
        width: 1030px;
    }

    .purchases-tb .table {
        width: 1200px;
    }

    .transaction-tb .table {
        width: 1090px;
    }

    .business-categories-tb .table {
        width: 1140px;
    }

    .categories-tb .table {
        width: 1140px;
    }

    .industries-tb .table {
        width: 1080px;
    }


    .countries-tb .table {
        width: 980px;
    }

    .states-tb .table {
        width: 1080px;
    }

    .cities-tb .table {
        width: 1080px;
    }

    .documents-tb .table {
        width: 1030px;
    }

    .events-tb .table {
        width: 1410px;
    }

    .cikka-purchase-tb .table {
        width: 1010px;
    }

    .cikka-transaction-tb .table {
        width: 1270px;
    }
}

@media(max-width: 767px) {
    .login-wrapper {
        padding-top: 30px;
    }

    .pagin-sec {
        text-align: center;
    }

    .pagin-sec .pagination {
        justify-content: center;
        padding-top: 20px;
    }
}

span.avatar {
    font-size: .8em;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    text-align: left;
}

.accordion-header {
    margin-bottom: 0;
}

.accordion-body {
    padding: 1rem 1.25rem;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #70300D;
}

.accordion-item {
    color: #212529;
    background-color: #fff;
    border: 1px solid #dee2e6;
}


.table-logo {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.form-image-tag {
    max-width: 100%;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.empty-placeholder {
    text-align: center;
    padding: 20px;
}